{
  "installed": {
    "client_id": "",
    "client_secret": "",
    "redirect_uris": ["http://localhost:8080/"],
    "auth_uri": "https://auth.tdameritrade.com/auth",
    "token_uri": "https://api.tdameritrade.com/v1/oauth2/token"

  }
}
